# OS
.DS_Store
**/.DS_Store

# Claude
.claude/settings.local.json

# Dependencies
node_modules/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors
.vscode/
.idea/
*.swp
